#root {
  max-width: 1280px;
  padding: 2rem 0rem;
  text-align: center;
  
}

.App {
  text-align: left;
  max-width: 100%;
  min-width: 0px;
}

.read-the-docs {
  color: #888;
}

.read-gold {
  color: #cb912f;
}